<div class="container">
  <div class="row">
    <div class="col text-center">
        <img src="img/dafin.jpg" alt="Dafin Overclock" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Dafin Overclock</h1>
      <p><div class="lead">Software Engineer | Hacker</div></p>
    </div>
  </div>
</div>
